@media (min-width: 768px) {
  .cell {
    width: 100px;
    height: 100px;
  }
  .game-board {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .cell {
    width: 125px;
    height: 125px;
  }
  .game-board {
    width: 375px;
  }
}