@import 'breakpoint';

@include breakpoint(xs) {
  h1 {
    font-size: 48px;
  }
}

@include breakpoint(sm) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 40px;
  }

  .cell {
    font-size: 5em;
    height: 100px;
    padding: 12.5px 17.5px;
    width: 100px;
  }

  .game-board-wrapper,
  form {
    width: 300px;
  }

  .game-board-wrapper {
    height: 300px;
  }

  .game-board {
    background-image: url('../images/grid-sm.png');
  }
}
