$purewhite: #fff;
$black: #000;

$transparent-black: rgba($black, 0.5);

$aqua: #aad4b5;
$darkgray: #222e25;
$darkorange: #f27b47;
$lightgray: #97948a;
$lightorange: #eea948;
$tan: #f7f7be;
$teal: #197a81;
$white: #fafafa;

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}

@function tint($color, $percentage) {
  @return mix($purewhite, $color, $percentage);
}


$lighttan: tint($tan, 50%);
$teal-shade: shade($teal, 20%);

