// scss-lint doesn't like .cell (wants %cell)
// because it's applied to divs via @extend
// rather than hardcoded into the markup
// but breakpoints don't work with %cell, only .cell

$arrow-padding: 0.5em;

.cell {
  float: left;
  height: $unit;
  text-align: center;
  width: $unit;
}

%game-board-row::after {
  clear: both;
}

%game-board-row::before,
%game-board-row::after {
  content: '';
  display: table;
}

.game-board {
  margin: 0 auto;
  width: $game-board-width;
  background: $white;
  @include border-radius(30px);

  > div {
    @extend %game-board-row;

    > div {
      @extend .cell;
    }
  }
}

.x {
  color: $teal;
}

.o {
  color: $darkorange;
}

.player {
  padding: 0 15px;
}

