// scss-lint doesn't like .cell (wants %cell)
// because it's applied to divs via @extend
// rather than hardcoded into the markup
// but breakpoints don't work with %cell, only .cell

$arrow-padding: 0.5em;

.cell {
  float: left;
  height: $unit;
  text-align: center;
  width: $unit;
  padding: 7.5px 11.5px;
  font-size: 4em;
}

%game-board-row::after {
  clear: both;
}

%game-board-row::before,
%game-board-row::after {
  content: '';
  display: table;
}

.game-board {
  background-image: url('../images/grid-xs.png');
  background-size: 100%;
  width: $game-board-width;
  margin: 0 auto;
  @include border-radius(30px);

  > div {
    @extend %game-board-row;

    > div {
      @extend .cell;
    }
  }
}

.turn-tracker {
  margin: 10px;
}

.x {
  color: $teal;
}

.o {
  color: $darkorange;
}

.player {
  padding: 0 15px;
}

.player > span {
  display: inline-block;
  width: 50px;
}

.new-game {
  width: $game-board-width;
  margin: 20px 0;
}

