%cell {
  border: 1px solid $black;
  float: left;
  height: $unit;
  text-align: center;
  width: $unit;
}

%game-board-row::after {
  clear: both;
}

%game-board-row::before,
%game-board-row::after {
  content: '';
  display: table;
}

.game-board {
  margin: 0 auto;
  width: $game-board-width;

  > div {
    @extend %game-board-row;

    > div {
      @extend %cell;
    }
  }
}

