// Easy trapezoids with 3D transforms
// Based on CSS by Lea Verou
// http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/


.stats {
  bottom: $bar-height;
  color: $darkgray;
  display: inline-block;
  height: $bar-height;
  margin: 0px auto;
  padding: $link-padding;
  position: relative;

  &::before {
    background: $aqua;
    bottom: -15px;
    content: ''; // To generate the box
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: perspective(4px) rotateX(1deg);
    z-index: -1;
  }

  > span {
    padding: 0 10px;
  }

  &.tab::before {
    // Tip by @krofdrakula
    border-radius: 15px 15px 0 0;
  }
}
