$unit: 75px;
$game-board-width: 3 * $unit;
$min-width: $game-board-width + 30px;
$bar-height: 30px;
$link-padding: ($bar-height - $font-size) / 2;

// TEMPLATE

body {
  margin-bottom: $bar-height;
  margin-top: $bar-height;
  min-width: $min-width;
}

nav,
footer {
  height: $bar-height;
  min-width: $min-width;
  position: absolute;
  width: 100%;
}

nav {
  background: $gray;
  top: 0;

  a {
    background: $lightblue;
    color: $white;
    padding: $link-padding;
    display: inline-block;
    line-height: $custom-line-height;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $lightgreen;
    }
  }
}

footer {
  bottom: 0;
  @extend .text-center;
}

.auth-buttons,
.user-buttons {
  float: right;
}

form {
  margin: 0 auto;
  width: 225px;
}


