$unit: 75px;
$game-board-width: 3 * $unit;
$min-width: $game-board-width + 30px;
$bar-height: 30px;
$link-padding: ($bar-height - $font-size) / 2;
$form-element-height: 40px;

// TEMPLATE

body {
  margin-bottom: $bar-height;
  margin-top: $bar-height;
  min-width: $min-width;
  background: $tan;
  color: $darkgray;
}

nav,
footer {
  height: $bar-height;
  min-width: $min-width;
  position: absolute;
  width: 100%;
}

nav a,
button {
  line-height: $custom-line-height;
  padding: $link-padding;
  color: $white;
}

nav {
  background: $aqua;
  top: 0;

  a {
    background: $teal;
    display: block;
    float: right;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $teal-shade;
    }

    &.log-out,
    &.log-in-link {
      background-color: $lightorange;

      &:hover {
        background-color: $darkorange;
      }
    }
  }
}

footer {
  bottom: 0;
  @extend .text-center;
}

.messages {
  margin: 20px 0;
  height: 30px;
}

.message {
  background: $lightorange;
  color: $white;
  padding: 5px;
}

form {
  margin: 0 auto;
  width: 225px;
}

input {
  border-radius: 0;
  background-color: $white;
  border: 1px solid $white;
  box-shadow: none;
  font-size: $input-font-size;
  line-height: $custom-line-height;
  height: $form-element-height;
}

label {
  display: none;
}

button {
  width: 100%;
  box-shadow: none;
  border: 0;
  height: $form-element-height;
}

#log-in button {
  background: $lightorange;

  &:hover {
    background: $darkorange;
  }
}

#sign-up button,
.new-game {
  background: $teal;

  &:hover {
    background: $teal-shade;
  }
}

.new-game {
  width: $game-board-width;
  margin: 20px auto;
}


