$unit: 75px;
$game-board-width: 3 * $unit;
$min-width: 300px;
$bar-height: 30px;
$link-padding: ($bar-height - $font-size) / 2;
$form-element-height: 40px;

// TEMPLATE

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: $min-width;
  background: $tan;
  color: $darkgray;
  height: 100%;
  position: relative;
}

.wrapper {
  padding: $bar-height 0 $bar-height;
  position: relative;
  min-height: 100%;
}

nav,
footer {
  height: $bar-height;
  min-width: $min-width;
  position: absolute;
  width: 100%;
}

nav a,
button {
  padding: $link-padding;
  color: $white;
}

nav {
  background: $aqua;
  top: 0;

  a {
    background: $teal;
    display: block;
    float: right;
    text-decoration: none;

    &:hover {
      color: $white;
      background-color: $teal-shade;
      text-decoration: none;
    }

    &:focus, &:active {
      color: $white;
      text-decoration: none;
    }

    &.log-out,
    &.log-in-link {
      background-color: $lightorange;

      &:hover {
        background-color: $darkorange;
      }
    }
  }
}

footer {
  bottom: 0;
  left: 0;
  @extend .text-center;
}

.messages {
  margin: 20px auto;
  height: 50px;
  max-width: 300px;
}

.message {
  padding: 10px;
  @extend .text-center;
  @include border-radius(10px);
}

.warning {
  background: $lightorange;
  color: $white;
}

.success {
  background: $aqua;
}

.title-o {
  color: $darkorange;
}

form {
  margin: 0 auto;
  width: 225px;
}

input {
  @include border-radius(0);
  background-color: $white;
  border: 1px solid $white;
  box-shadow: none;
  font-size: $input-font-size;
  height: $form-element-height;
}

label {
  display: none;
}

button {
  width: 100%;
  box-shadow: none;
  border: 0;
  height: $form-element-height;
}

#log-in button {
  background: $lightorange;

  &:hover {
    background: $darkorange;
  }
}

#sign-up button,
#change-password button,
.new-game, {
  background: $teal;

  &:hover {
    background: $teal-shade;
  }
}

.pwd-form {
  background: $lighttan;
  padding: 15px;
}


