// INITIAL VIEW STATE
.user-buttons,
.sign-up,
.log-in-link,
.change-password,
.game-play,
.message {
  display: none;
}

// TEMPLATE

body {
  margin-top: $navbar-height;
  min-width: $min-width;
}

nav {
  background: $gray;
  height: $navbar-height;
  min-width: $min-width;
  position: absolute;
  top: 0;
  width: 100%;
}

.auth-buttons,
.user-buttons {
  float: right;
}

form {
  margin: 0 auto;
  width: 225px;
}
