// INITIAL VIEW STATE
.user-nav,
.sign-up,
.log-in-link,
.change-password,
.game-play,
.message,
.hidden,
.stats,
.turn-tracker,
.fa-arrow-left,
.fa-arrow-right, {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
